@import "main/functions";
@import "main/variables";
@import "main/mixins";
@import "main/utilities";
@import "main/normalize";

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }

    &:-moz-placeholder {
        @content
    }

    &::-moz-placeholder {
        @content
    }

    &:-ms-input-placeholder {
        @content
    }
}

@mixin retina {

    @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px),
        only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1300px),
        only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1300px),
        only screen and (min-device-pixel-ratio: 2) and (min-width: 1300px),
        only screen and (min-resolution: 192dpi) and (min-width: 1300px),
        only screen and (min-resolution: 2dppx) and (min-width: 1300px) {
        @content
    }
}

a {
    outline: none !important;
}

ul {
    margin: 0;
}

* {
    font: {
        family: 'Montserrat', sans-serif;
        weight: normal;
        size: 100%;
    }
}

html {
    font: {
        family: 'Montserrat', sans-serif;
        weight: normal;
        size: 100%;
    }

    margin: 0 !important;

    overflow: {
        x: hidden;
        y: scroll;
    }

    width: 100%;
    max-width: 100%;
    line-height: 1;
}

body {
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

// Grid mixins
//
@import "main/grid";
@import "main/utilities/flex";

img {
    max-width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    &-menu-toggle {
        background: #D2AA86;
        border: 2px solid #D2AA86;
        box-sizing: border-box;
        padding: 7px 20px;

        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        cursor: pointer;
        font-size: 15px;

        color: #202020;
        transition: all .3s;
        display: none;

        &:hover {
            color: #D2AA86;
            background: transparent;
        }

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            display: block;
        }
    }

    &-top {
        background: #fff;

        &__i {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;


            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                height: 35px;

                >* {

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        font-size: 0;
                        text-align: right;
                    }
                }
            }
        }

        &__text {
            font-style: normal;
            font-weight: 300;
            line-height: 20px;
            font-size: 15px;

            a,
            span {
                color: #393939;
                font-weight: 600;
                font-size: 15px;
            }
        }

        &__social {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                margin-right: 20px;
                display: flex;
                align-items: center;

                @media(max-width: map-get($grid-breakpoints, 'lg')) {
                    margin-right: 10px;
                }
            }
        }
    }

    &-bottom {
        background: #000;

        &__logo {
            transition: all .3s;

            img {
                display: block;

                @media(max-width: map-get($grid-breakpoints, 'lg')) {
                    height: 30px;
                }
            }

            &:hover {
                opacity: 0.8;
            }
        }

        &__i {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                height: 50px;
                padding: 10px
            }
        }

        &__menu {
            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                display: none;
            }

            .menu {
                display: flex;
                align-items: center;
                justify-content: space-between;

                li {
                    list-style: none;

                    a {
                        height: 70px;
                        min-height: 70px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 25px;

                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        color: #FFFFFF;
                        transition: all .3s;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }

                .dropdown-toggle,
                .sub-menu,
                svg {
                    display: none;
                }
            }
        }

        &__action {
            background: #D2AA86;
            border: 2px solid #D2AA86;
            box-sizing: border-box;
            padding: 10px 37px;

            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            cursor: pointer;
            font-size: 15px;

            color: #202020;
            transition: all .3s;

            &:hover {
                color: #D2AA86;
                background: transparent;
            }

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                display: none;
            }
        }
    }
}


.s01 {
    background: url(/assets/img/s01bg.png) no-repeat center / cover;

    &__content {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        height: 100vh;
        padding: 70px 0;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        font-size: 18px;
        letter-spacing: 0.15em;

        color: #FFFFFF;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            // text-align: center;
            width: 100%;
            font-size: 17px;
        }
    }

    &__header {
        display: block;
        width: 80%;
        margin-top: 19px;
        margin-bottom: 73px;
        font-style: normal;
        font-weight: bold;
        line-height: 65px;
        font-size: 61px;

        color: #FFFFFF;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            margin-bottom: 35px;
            line-height: 1.3;
            font-size: 32px;
            // text-align: center;
            width: 100%;
        }
    }

    &__action {
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 33px;

        font-style: normal;
        font-weight: 600;
        line-height: 17px;
        cursor: pointer;
        font-size: 13px;
        text-transform: uppercase;

        color: #FFFFFF;

        transition: all .3s;

        &:hover {
            background: #fff;
            color: #000;
        }

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            width: calc(100% - 60px);
        }
    }

    &__scroll {
        position: absolute;
        bottom: 10%;
        right: 5%;
        height: 120px;
        width: 3px;
        overflow: hidden;
        // background: #333;
        z-index: 100;
        border-radius: 6px;

        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(255, 255, 255, .5);
            border-radius: 6px;
            animation: scroll-indicator 2s infinite;

            @keyframes scroll-indicator {
                0% {
                    transform: translate3d(0, -100%, 0);
                }

                45% {
                    transform: translate3d(0, 0, 0);
                }

                55% {
                    transform: translate3d(0, 0, 0);
                }

                100% {
                    transform: translate3d(0, 110%, 0);
                }
            }
        }
    }
}

.sales {
    display: block;
    margin-top: 100px;
    padding: 0 100px;

    @media(max-width: map-get($grid-breakpoints, 'lg')) {
        padding: 0;
        margin-top: 30px;
    }

    .owl-nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        pointer-events: none;
        justify-content: space-between;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            top: 100%;
            right: 0;
            height: auto;
            width: auto;
            left: auto;
        }

        >* {
            pointer-events: all;
            display: block;
            width: 55px;
            height: 55px;
            border-radius: 0 !important;
            font-size: 0 !important;

            background: #FFFFFF;
            border: 2px solid #000000 !important;
            box-sizing: border-box;
            transition: all .3s;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                width: 40px;
                height: 40px;
            }

            &:hover {
                opacity: .75;
            }
        }

        .owl-prev {
            background: url(/assets/img/arrow-left.svg) no-repeat center center / 15px !important;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                border-right: 0 !important;
            }
        }

        .owl-next {
            background: url(/assets/img/arrow-right.svg) no-repeat center center / 15px !important;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            flex-wrap: wrap;
        }

        &__header {
            width: 32%;
            font-style: normal;
            font-weight: bold;
            line-height: 54px;
            font-size: 36px;

            color: #000000;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                width: 100%;
                font-size: 29px;
                line-height: 1.3;
                text-align: center;
                margin-bottom: 9px;
            }

            @media(max-width: map-get($grid-breakpoints, 'xl')) {
                font-size: 29px;
                line-height: 1.3;
            }
        }

        &__text {
            width: 32%;
            font-style: normal;
            font-weight: 300;
            line-height: 24px;
            font-size: 16px;

            color: #000000;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                width: 100%;
                text-align: center;
            }

            @media(max-width: map-get($grid-breakpoints, 'xl')) {
                font-size: 14px;
                line-height: 1.3;
            }
        }

        &__number {
            position: relative;
            width: 220px;
            height: 220px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
            font-weight: bold;
            line-height: 143px;
            font-size: 96px;
            z-index: 2;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                margin: 0 auto;
            }

            @media(max-width: map-get($grid-breakpoints, 'xl')) {
                font-size: 75px;
                width: 200px;
                height: 200px;
            }

            color: #000000;

            &:before {
                position: absolute;
                content: '';
                top: 5%;
                height: 90%;
                left: 5%;
                width: 90%;
                border: 15px solid #D2AA86;
                box-sizing: border-box;
                z-index: -1;
            }

        }
    }
}

.info {
    margin-top: 120px;

    @media(max-width: map-get($grid-breakpoints, 'lg')) {
        margin-top: 100px;
    }

    &-item {
        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            margin-bottom: 30px;
        }

        &__header {
            display: block;
            font-style: normal;
            font-weight: 500;
            line-height: 31px;
            font-size: 21px;

            color: #000000;
            margin-bottom: 22px;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                margin-bottom: 9px;
                // text-align: center;
            }
        }

        &__text {
            font-style: normal;
            font-weight: 300;
            line-height: 27px;
            font-size: 18px;
            // text-align: center;

            color: #000000;
        }
    }
}

.s02 {
    margin-top: 50px;
    padding-top: 120px;
    margin-bottom: 135px;
    position: relative;
    background: url(/assets/img/s02-bg2.svg) no-repeat 40% center, url(/assets/img/s02-bg.svg) no-repeat center center / 85% auto;

    @media(max-width: map-get($grid-breakpoints, 'lg')) {
        padding: 0;
        margin-top: 50px;
        background: none;
    }

    .owl-nav {
        position: absolute;
        bottom: 40px;
        right: 30px;
        display: flex;
        align-items: center;
        pointer-events: none;
        justify-content: space-between;
        background: #fff;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            top: 100%;
            bottom: auto;
            right: 0;
        }

        >* {
            pointer-events: all;
            display: block;
            width: 55px;
            height: 55px;
            border-radius: 0 !important;
            font-size: 0 !important;

            background: #FFFFFF;
            border: 2px solid #000000 !important;
            box-sizing: border-box;
            transition: all .3s;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                width: 40px;
                height: 40px;
            }

            &:hover {
                opacity: .75;
            }
        }

        .owl-prev {
            background: url(/assets/img/arrow-left.svg) no-repeat center center / 15px !important;
        }

        .owl-next {
            border-left: 0 !important;
            background: url(/assets/img/arrow-right.svg) no-repeat center center / 15px !important;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__content {
            padding-right: 50px;


            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                padding-right: 0;
            }
        }

        &__header {
            font-style: normal;
            font-weight: 300;
            line-height: 36px;
            font-size: 24px;

            color: #000000;
            display: block;
            margin-bottom: 60px;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                font-size: 24px;
                line-height: 1.4;
                margin-bottom: 20px;
            }
        }

        &__text {
            font-style: normal;
            font-weight: 500;
            line-height: 27px;
            font-size: 18px;

            color: #000000;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                font-size: 16px;
                line-height: 1.4;
                margin-bottom: 20px;
            }
        }
    }
}


.services {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 55px;
        position: relative;
        z-index: 2;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            flex-wrap: wrap;
            margin-bottom: 30px;
        }
    }

    &__title {
        font-style: normal;
        font-weight: bold;
        line-height: 38px;
        font-size: 36px;

        color: #000000;
    }

    &__subtitle {
        font-style: normal;
        font-weight: 300;
        line-height: 27px;
        font-size: 18px;
        text-align: right;
        max-width: 45%;
        display: block;

        color: #000000;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            max-width: 100%;
            margin-top: 15px;
            text-align: left;
        }
    }

    &-tabs {
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 55px;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                flex-wrap: wrap;
                margin-bottom: 30px;
            }

            li {
                list-style: none;
                padding: 14px 22px;
                border: 2px solid transparent;
                transition: all .3s;
                cursor: pointer;

                @media(max-width: map-get($grid-breakpoints, 'lg')) {
                    flex-grow: 1;
                    text-align: center;
                }

                &.active,
                &:hover {
                    border-color: #D0A985;
                }
            }
        }

        &__content {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    &__image {
        position: relative;
        z-index: 1;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            margin-top: 30px;
        }

        &:before {
            content: '';
            position: absolute;
            pointer-events: none;
            top: -28%;
            right: -15%;
            width: 100%;
            height: 100%;
            background: url(/assets//img//services-bg.svg) no-repeat center center;
            z-index: -1;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                top: -74%;
                right: -55%;
                width: 200%;
                height: 200%;
                background: url(/assets//img//services-bg.svg) no-repeat center center/contain;
            }
        }

        img {
            width: 100%;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #C4C4C4;
        height: 100%;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            padding: 10px 0;
        }

        &__name {
            font-style: normal;
            font-weight: 300;
            line-height: 28px;
            font-size: 17px;

            color: #000000;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                font-size: 16px;
            }
        }

        &__price {
            font-style: normal;
            font-weight: bold;
            line-height: 28px;
            font-size: 17px;
            text-align: right;

            color: #000000;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                font-size: 16px;
            }

        }
    }

    &__more {
        padding-top: 17px;
        padding-bottom: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        font-size: 19px;
        cursor: pointer;

        color: #000000;
    }
}

.form01 {
    margin-top: 60px;
    margin-bottom: 60px;
    display: block;
    padding: 25px 0 35px;
    border-top: 2px solid #515151;
    border-bottom: 2px solid #515151;

    @media(max-width: map-get($grid-breakpoints, 'lg')) {
        margin-top: 40px;
    }


    &__header {
        font-style: normal;
        font-weight: 500;
        line-height: 39px;
        font-size: 26px;

        color: #000000;
        display: block;
        margin-bottom: 9px;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            font-size: 26px;
            line-height: 1.4;
            // text-align: center;
        }
    }

    &__subheader {
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
        font-size: 15px;

        color: #000000;
        display: block;
        margin-bottom: 35px;


        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            // text-align: center;
        }
    }

    &-form {
        display: flex;
        margin: 0 -10px;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            flex-direction: column;
            align-items: center;
            margin: 0;
        }

        .wpcf7 {
            width: 100%;

            .wpcf7-form {
                display: flex;
                align-items: center;
                
                @media(max-width: map-get($grid-breakpoints, 'lg')) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                .wpcf7-form-control-wrap {
                    max-width: 100%;


                    @media(max-width: map-get($grid-breakpoints, 'lg')) {
                        padding-bottom: 15px;
                        margin-bottom: 10px;
                    }
                }

                >p {
                    display: flex;
                    align-items: center;
                    margin: 0;

                    @media(max-width: map-get($grid-breakpoints, 'lg')) {
                        flex-direction: column;
                        align-items: flex-start;
                        width: 100%;
                    }

                    br {
                        display: none;
                    }
                }

                .wpcf7-not-valid-tip {
                    position: absolute;
                    top: 100%;
                    left: 10px;

                    @media(max-width: map-get($grid-breakpoints, 'lg')) {
                        top: auto;
                        bottom: 0;
                    }
                }

                .wpcf7-response-output {
                    border-color: #d2aa86;
                    background: #d2aa86;
                }
            }
        }

        .select-wrapper {
            position: relative;
            width: calc(25% - 20px);
            margin: 0 10px;

            @media(max-width: map-get($grid-breakpoints, 'xl')) {
                width: calc(33.3333% - 20px);
            }

            &:before {
                position: absolute;
                content: '';
                top: 0;
                bottom: 0;
                right: 30px;
                margin: auto 0;
                width: 14px;
                height: 6px;
                background: url(/assets/img/arrow-down.svg) no-repeat center center / contain;
            }

            select {
                margin: 0;
                width: 100%;
            }

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                margin: 0 0 10px 0;
                width: 300px;
                max-width: 100%;
                padding-bottom: 15px;
            }
        }

        select,
        input {
            width: calc(100% - 20px);
            margin: 0 10px;
            border: 2px solid #515151;
            height: 55px;
            padding: 0 23px;
            border-radius: 0;
            outline: 0;
            -webkit-appearance: none;
            -webkit-border-radius: 0px;
            font-weight: light;
            font-size: 16px;
            color: rgba(0, 0, 0, .6);

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                margin: 0 0 10px 0;
                width: 300px;
                max-width: 100%;
            }

            @include placeholder {
                font-weight: light;
                font-size: 16px;
                color: rgba(0, 0, 0, .6);
            }
        }

        button {
            width: calc(25% - 20px);
            margin: 0 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 55px;
            padding: 0 30px;
            background: #D2AA86;
            border: 2px solid #D2AA86;

            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            font-size: 19px;
            white-space: nowrap;

            color: #000000;
            transition: all .3s;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                margin: 0;
                width: 300px;
                max-width: 100%;
            }

            @media(max-width: map-get($grid-breakpoints, 'xl')) {
                width: calc(33.3333% - 20px);
            }

            @media(max-width: map-get($grid-breakpoints, 'md')) {
                width: auto;
            }

            &:hover {
                color: #D2AA86;
                background: transparent;
            }
        }
    }
}


.gallery {
    margin-bottom: -320px;

    @media(max-width: map-get($grid-breakpoints, 'lg')) {
        margin-bottom: -100px;
    }

    &__header {
        font-style: normal;
        font-weight: bold;
        line-height: 38px;
        font-size: 36px;

        color: #000000;
        display: block;
        margin-bottom: 40px;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            font-size: 21px;
            margin-bottom: 15px;
        }
    }

    &-carousel {
        &__item {
            img {
                height: 480px;
                object-fit: cover;

                @media(max-width: map-get($grid-breakpoints, 'lg')) {
                    height: 150px;
                }
            }
        }
    }

    .owl-nav {
        position: absolute;
        top: -91px;
        right: 0;
        display: flex;
        align-items: center;
        pointer-events: none;
        justify-content: space-between;
        background: #fff;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            top: -55px;
        }

        >* {
            pointer-events: all;
            display: block;
            width: 55px;
            height: 55px;
            border-radius: 0 !important;
            font-size: 0 !important;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                width: 40px;
                height: 40px;
            }

            background: #FFFFFF;
            border: 2px solid #000000 !important;
            box-sizing: border-box;
            transition: all .3s;

            &:hover {
                opacity: .75;
            }
        }

        .owl-prev {
            background: url(/assets/img/arrow-left.svg) no-repeat center center / 15px !important;
        }

        .owl-next {
            border-left: 0 !important;
            background: url(/assets/img/arrow-right.svg) no-repeat center center / 15px !important;
        }
    }
}

.s03 {
    padding-top: 320px;
    padding-bottom: 100px;
    margin-bottom: 40px;
    background: url(/assets/img/s03-bg.png) no-repeat center top / cover;

    @media(max-width: map-get($grid-breakpoints, 'lg')) {
        padding-top: 100px;
        padding-bottom: 40px;
    }

    &__text {
        margin-top: 100px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        font-size: 31px;

        color: #FFFFFF;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            margin-top: 30px;
            font-size: 19px;
            line-height: 1.4;
            // text-align: center;
        }
    }

    &__action {
        background: #FFFFFF;
        border: 2px solid #fff;
        margin-top: 55px;
        cursor: pointer;
        height: 55px;
        padding: 0 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        font-size: 19px;

        color: #000000;
        transition: all .3s;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            margin-top: 35px;
            width: 100%;
            text-align: center;
        }

        &:hover {
            background: transparent;
            color: #fff;
        }
    }
}

// .form02 {
//     display: block;
//     padding: 25px 0;
//     border-top: 2px solid #515151;
//     border-bottom: 2px solid #515151;
//     display: flex;
//     align-items: center;
//     margin: 60px 0;

//     @media(max-width: map-get($grid-breakpoints, 'lg')) {
//         flex-direction: column;
//         align-items: center;
//         margin: 30px 0;
//     }

//     &__content {
//         flex-grow: 1;
//     }

//     &__header {
//         font-style: normal;
//         font-weight: 500;
//         line-height: 39px;
//         font-size: 26px;
//         color: #000000;
//         display: block;
//         margin-bottom: 9px;

//         @media(max-width: map-get($grid-breakpoints, 'lg')) {
//             // text-align: center;
//         }
//     }

//     &__subheader {
//         font-style: normal;
//         font-weight: 300;
//         line-height: 22px;
//         font-size: 15px;
//         color: #000000;
//         display: block;

//         @media(max-width: map-get($grid-breakpoints, 'lg')) {
//             // text-align: centаer;
//             margin-bottom: 20px;
//         }
//     }

//     input {
//         width: calc(20% - 20px);
//         margin: 0 10px;
//         border: 2px solid #515151;
//         height: 55px;
//         padding: 0 23px;
//         border-radius: 0;
//         outline: 0;
//         -webkit-appearance: none;
//         -webkit-border-radius: 0px;

//         @media(max-width: map-get($grid-breakpoints, 'lg')) {
//             width: 300px;
//             max-width: 100%;
//             margin: 0 0 10px;
//         }

//         @include placeholder {
//             font-weight: light;
//             font-size: 16px;
//             color: rgba(0, 0, 0, .6);
//         }

//         ;
//     }

//     button {
//         width: calc(20% - 20px);
//         margin-left: 10px;
//         cursor: pointer;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         height: 55px;
//         padding: 0;
//         background: #D2AA86;
//         border: 2px solid #D2AA86;

//         font-style: normal;
//         font-weight: 500;
//         line-height: 28px;
//         font-size: 19px;

//         color: #000000;
//         transition: all .3s;

//         @media(max-width: map-get($grid-breakpoints, 'lg')) {
//             width: 300px;
//             max-width: 100%;
//             margin: 0;
//         }

//         &:hover {
//             color: #D2AA86;
//             background: transparent;
//         }
//     }
// }


.seo-text {
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    font-size: 19px;

    @media(max-width: map-get($grid-breakpoints, 'lg')) {
        font-size: 16px;
    }

    color: #000000;

    &__header {
        font-style: normal;
        font-weight: bold;
        line-height: 38px;
        font-size: 36px;

        color: #000000;
        display: block;
        margin-bottom: 34px;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            margin-bottom: 20px;
            font-size: 26px;
            line-height: 1;
        }
    }
}

.footer {
    background: #000000;
    margin-top: 75px;

    &__i {
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            flex-direction: column;
            height: auto;
            padding: 15px 0;
        }
    }

    &__copyright {
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
        font-size: 14px;

        color: #FFFFFF;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            margin-top: 15px;
        }
    }
}

.map {
    position: relative;
    display: block;
    margin-bottom: 50px;

    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .35);
        z-index: 2;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            display: none;
        }
    }

    #map {
        height: 450px;
    }

    &__content {
        position: absolute;
        top: 15px;
        bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        right: 3%;
        background: #fff;
        z-index: 3;
        padding: 15px 20px;

        @media(max-width: map-get($grid-breakpoints, 'lg')) {
            position: relative;
            top: 0;
            bottom: 0;
            right: 0;
            padding: 30px 0;
        }
    }

    &__header {
        font-style: normal;
        font-weight: bold;
        line-height: 38px;
        font-size: 36px;

        color: #000000;
        display: block;
        margin-bottom: 35px;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        line-height: 27px;
        font-size: 18px;

        color: #000000;
        display: block;
        margin-bottom: 20px;

        b {
            font-weight: 500;
        }

        a {
            color: #000000;
        }
    }

    &-actions {
        display: flex;
        align-items: stretch;

        &__btn {
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            font-size: 15px;
            padding: 0 25px;
            flex-grow: 1;
            background: #D2AA86;
            border: 2px solid #D2AA86;
            border-right: 0;
            color: #202020;
            cursor: pointer;
            transition: all .3s;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                padding: 0 10px;
                font-size: 14px;
            }

            &:hover {
                background: transparent;
                color: #D2AA86;
            }
        }

        &__soc {
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #D2AA86;
            font-style: normal;
            font-weight: 600;
            line-height: 17px;
            font-size: 13px;
            text-transform: uppercase;
            cursor: pointer;
            color: #D2AA86;
            padding: 0 25px;
            transition: all .3s;

            @media(max-width: map-get($grid-breakpoints, 'lg')) {
                padding: 0 15px;
            }

            &:hover {
                color: #202020;
                background: #D2AA86;
            }

            &:last-child {
                border-left: 0;
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s;
    z-index: 1001;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &--open {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    &__content {
        background: #fff;
        padding: 25px;
        width: 400px;
        position: relative;
        z-index: 2;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden auto;
    }

    &__header {
        font-style: normal;
        font-weight: 500;
        line-height: 39px;
        font-size: 26px;
        text-align: center;

        color: #000000;
        display: block;
        margin-bottom: 9px;
    }

    &__subheader {
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
        font-size: 15px;
        text-align: center;

        color: #000000;
        display: block;
        margin-bottom: 25px;
    }

    &-form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        br {
            display: none;
        }

        .wpcf7-form-control-wrap {
            margin-bottom: 10px;
            display: block;
        }

        .wpcf7-response-output {
            border-color: #d2aa86;
            background: #d2aa86;
            margin: 0;
        }

        .select-wrapper {
            position: relative;
            width: 100%;
            margin-bottom: 10px;

            &:before {
                position: absolute;
                content: '';
                top: 0;
                bottom: 0;
                right: 30px;
                margin: auto 0;
                width: 14px;
                height: 6px;
                background: url(/assets/img/arrow-down.svg) no-repeat center center / contain;
            }

            select {
                margin: 0;
            }
        }

        select,
        input {
            width: 100%;
            border: 2px solid #515151;
            height: 55px;
            padding: 0 23px;
            border-radius: 0;
            outline: 0;
            -webkit-appearance: none;
            -webkit-border-radius: 0px;
            font-weight: light;
            font-size: 16px;
            color: rgba(0, 0, 0, .6);
            // margin-bottom: 10px;

            @include placeholder {
                font-weight: light;
                font-size: 16px;
                color: rgba(0, 0, 0, .6);
            }
        }

        button {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 55px;
            padding: 0;
            background: #D2AA86;
            padding: 0 30px;
            border: 2px solid #D2AA86;

            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            font-size: 19px;

            color: #000000;
            transition: all .3s;

            &:hover {
                color: #D2AA86;
                background: transparent;
            }
        }
    }
}